@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  bottom:-50px;
}

.slick-dots li.slick-active div {
    background-color: #dc2626 !important;  
    transform: scale(1.2);  
  }